@font-face {
  font-family: GilRoy;
  src: url(./assets/fonts/Gilroy-Light.otf);
}
body {
  margin: 0;
  font-family: GilRoy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
